<a routerLink="/adminreview">Back</a><br><br>

<h1>Application</h1><br><br>

<label >Name: </label>{{firebase.selectedApplication.name}} <br>
<label >Roll Number: </label>{{firebase.selectedApplication.rollNumber}} <br>
<label >Class: </label>{{firebase.selectedApplication.class}} <br>
<label >Section: </label>{{firebase.selectedApplication.section}} <br>
<label >Proctor: </label>{{firebase.selectedApplication.proctor}} <br>
<label >Father: </label>{{firebase.selectedApplication.father}} <br>
<label >Father Occupation: </label>{{firebase.selectedApplication.fatherOccupation}} <br>
<label >Family Annual Income: </label>{{firebase.selectedApplication.familyAnnualIncome}} <br>
<label >Fee Reiumbursment: </label>{{firebase.selectedApplication.recieveFeeReimburs}} <br>
<label >Scholarship: </label>{{firebase.selectedApplication.scholarship}} <br>
<label >Scholarship Name: </label>{{firebase.selectedApplication.scholarshipname}}<br>
<label >Attendance: </label>{{firebase.selectedApplication.attendance}}<br>
<label >Backlogs: </label>{{firebase.selectedApplication.backlogs}}<br>
<label >Aggregate: </label>{{firebase.selectedApplication.aggregate}}<br>
<label >Eamcet Rank: </label>{{firebase.selectedApplication.eamcetrank}}<br>
<label >Intermediate/ Diploma rank: </label>{{firebase.selectedApplication.interrank}}<br>
<label >Tenth Marks </label>{{firebase.selectedApplication.tenth}}<br>
<label >Points for deserving 1: </label>{{firebase.selectedApplication.deserving1}}<br>
<label > Deserving 2</label>{{firebase.selectedApplication.deserving2}}<br>
<label >Deserving 3 </label>{{firebase.selectedApplication.deserving3}}<br>
<label >utilize 1: </label>{{firebase.selectedApplication.utilize1}}<br>
<label >Utilize 2:</label>{{firebase.selectedApplication.utilize2}}<br>
<label >Future plans 1: </label>{{firebase.selectedApplication.future1}}<br>
<label >Future plans 2: </label>{{firebase.selectedApplication.future2}}<br>
<label >Semester: </label>{{firebase.selectedApplication.semester}}<br>

<br>
<h2>Proctor Remark: </h2> {{firebase.selectedApplication.proctorremark}} 
<br><br>
<h2>Enter final remark</h2>
<input type="text" name="mainremark" [(ngModel)]="firebase.selectedApplication.mainremark"  >
<br><br>
<button class="btn btn-success" (click)="acceptapplication()" > Accept this application </button>
<button class="btn btn-danger" (click)="rejectapplication()" > Reject This Application </button>
