<!-- <a routerLink="/main">Back</a><br><br>





<table class="table table-sm table-hover">
    <tr>
      <td>Name</td>
      <td>class</td>
      <td>section</td>
    </tr>
      <tr *ngFor="let x of  firebase.legacylist | async">
        <div >  
        <td>{{x.payload.val().name}}</td>
        <td>{{x.payload.val().class}}</td>
        <td>{{x.payload.val().section}}</td>
          <td>
            
              <i class="fa fa-edit" (click)="loadlegacyview(x.key)"></i>
            
          </td>
        </div>
      </tr>
     -->

     <app-header></app-header>


 <div class="data">
    <div class="row  head"   >
      <div class="col col-xs-4">NAME</div>
      <div class="col col-xs-4">ROLLNUMBER</div>
      <!-- <div class="col col-xs-3">SECTION</div> -->
      <div class="col col-xs-4">STATUS</div>
      </div>
      <div *ngFor="let x of  firebase.legacylist | async">
          <div  (click)="view(x.key)">  
            <div class="row  myrow "    >  
            <div class="col col-xs-4">{{(x.payload.val().name.length>20)? (x.payload.val().name | slice:0:20)+'..':(x.payload.val().name) }}</div>
              <div class="col col-xs-4">{{ (x.payload.val().class.rollNumber>20)? (x.payload.val().rollNumber | slice:0:20)+'..':(x.payload.val().rollNumber) }}</div>
              <!-- <div class="col col-xs-4">{{ (x.payload.val().section.length>20)? (x.payload.val().section | slice:0:20)+'..':(x.payload.val().section)}}</div> -->
              <div class="col col-xs-4">{{ (x.payload.val().status.length>20)? (x.payload.val().status | slice:0:20)+'..':(x.payload.val().status)}}</div>
              
              <!-- <div class="col col-xs-3"><i class="fa fa-edit" ></i></div> -->
            </div>
          </div>
       </div>  
       </div>


